<div class="card m-5 column is-3" *ngFor="let product of filteredProducts">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/480x320.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{product.name}}</p>
        <p class="subtitle is-6">{{product.price.toFixed(2)}}</p>
      </div>
    </div>

    <div class="content">
      <p>
        {{product.description}}
      </p>
      <p>
        <span class="fa fa-star {{math.round(product.rate) >= 1 ? 'checked' : ''}}"></span>
        <span class="fa fa-star {{math.round(product.rate) >= 2 ? 'checked' : ''}}"></span>
        <span class="fa fa-star {{math.round(product.rate) >= 3 ? 'checked' : ''}}"></span>
        <span class="fa fa-star {{math.round(product.rate) >= 4 ? 'checked' : ''}}"></span>
        <span class="fa fa-star {{math.round(product.rate) >= 5 ? 'checked' : ''}}"></span>
        {{product.rate.toFixed(2)}} stars
      </p>
    </div>
  </div>
</div>
<div class="container columns" *ngIf="filteredProducts.length === 0">
  <div class="no-items column is-half is-offset-4">0 Products were found!</div>
</div>