<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Ng Auction</strong>. An exercise created by <a href="https://www.linkedin.com/in/wolbert-de-oliveira-lima-146382156/" target="_blank">Wolbert Lima</a>. 
                
      </p>
      <p>
        Tutoured by Francisco Costa on behalf of <a href="https://alternearshore.com" target="_blank">Alter Solutions Portugal</a>.
      </p>
    </div>
  </footer>