<ng-header></ng-header>

<section class="columns m-6">
  <article class="column is-one-quarter">
    <ng-product-search (productItemsSearch)="searchProduct($event)"></ng-product-search>
  </article>

  <article class="column">
    <ng-carousel></ng-carousel>

    <div>
      <ng-product-item class="columns mt-6 is-multiline is-desktop" [filteredProducts]="filteredProducts" ></ng-product-item>
    </div>
  </article>
</section>

<ng-footer></ng-footer>