<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        
            <span class="title">{{title}}</span>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                About
            </a>

            <a class="navbar-item">
                Services
            </a>

            <a class="navbar-item">
                Contact
            </a>

        </div>
    </div>
</nav>