<form class="container mt-3">

    <div class="columns search-item is-multiline">
        <div class="column is-full">
            <label for="p-title-id">Product Title:</label>
            <input type="text" placeholder="Title" id="p-title-id" #titleValue>
        </div>
        <div class="column is-full">
            <label for="p-price-id">Product Price:</label>
            <input type="number" placeholder="Price" id="p-price-id" #priceValue>
        </div>
        <div class="column is-full">
            <label for="p-category-id">Product Category:</label>
            <select name="p-category" id="p-category-id" #categoryValue>
                <option *ngFor="let category of categories" value="{{category.value}}">{{category.name}}</option>
            </select>
        </div>

        <input type="button" value="Submit" (click)="searchProduct(titleValue,priceValue,categoryValue)">
    </div>
</form>